* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Учитываем padding и border в ширине и высоте элементов */
}

body {
    background: #1D1930;
    display: flex;
    flex-direction: row; /* Устанавливаем горизонтальное направление для широких экранов */
    height: 100vh;
}

.logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 64px;
    height: 64px;
    margin: 20px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #1D1930;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравниваем элементы в начале */
    position: fixed;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none !important; /* Скрываем сайдбар */
    }
}

.username {
    color: #A4A3BD;
    margin: 15px 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.46px;
    text-align: left;
}

.navigation {
    margin-bottom: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #A4A3BD;
    padding: 10px;
    transition: background 0.3s;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.46px;
    text-align: left;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.contact-button {
    margin-top: auto; /* Эта строка сдвигает кнопку вниз */
    margin-bottom: 30px; /* Добавляем отступ снизу для эстетики */
    margin-left: 50px; /* Добавляем отступ снизу для эстетики */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.1px;
    text-align: center;
    width: 130px;
    height: 40px;
    color: #FFFFFF;
    background: #534686;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 4px;
}

.frame-icon {
    display: flex;
    margin: 10px;
}

.nav-item img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.main-content {
    width: 1646px;
    height: 902px;
    top: 24px;
    left: 250px;
    border-radius: 10px;
    margin: 20px 20px 20px 145px;
    border: 1px solid #E2E2E2;
    background: #EFF3F9;
    padding: 40px; /* Добавим отступы внутри */
    flex: 1; /* Занимает оставшееся пространство на широких экранах */
}


@media only screen and (max-width: 768px) {
    .main-content {
        width: 100%; /* Полная ширина для мобильных устройств */
        padding: 20px; /* Отступы внутри */
        border: 1px solid #E2E2E2; /* Граница */
        border-radius: 0;
        height: auto; /* Изменяем на auto, чтобы контент не выходил за пределы */
        margin: 65px 0 0 0;
    }
}

.line {
    width: 250px;
    height: 1px;
    border: 1px solid #2D2847;
}

.form-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;
    margin-bottom: 20px; /* Отступ снизу, чтобы заголовок не прижимался к формам */
}

@media only screen and (max-width: 768px) {
    .form-title {
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
        text-align: left;
        width: auto; /* Убираем фиксированную ширину */
        margin-bottom: 10px; /* Уменьшаем отступ снизу */
    }
}

.forms-container {
    width: 352px;
    height: 352px;
    top: 127px;
    left: 300px;
    display: flex; /* Flexbox для размещения форм в один ряд */
    gap: 15px; /* Отступ между формами */
    flex-wrap: nowrap; /* Элементы не будут переноситься на новую строку */
}

.form-title-pass {
    color: #2B2B2B;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    margin: 0 13px;
}

@media only screen and (max-width: 768px) {
    .form-title-pass {
        margin: 10px 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 19.1px;
        text-align: left;
    }
}

.input-container {
    position: relative;
    margin: 20px 0; /* Убираем боковые отступы для мобильных */
    width: 292px; /* Установите фиксированную ширину инпутов */
    flex: 1; /* Позволяет инпутам занимать равное пространство */
}

input[type="password"],
input[type='language'] {
    width: 292px;
    height: 50px;
    top: 199px;
    left: 330px;
    border-radius: 4px;
    border: 1px solid #E2E2E2;
    padding-right: 30px;
    padding-left: 10px;
}

input[type="password"]::placeholder,
input[type='language']::placeholder {
    color: #2B2B2B;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    padding-left: 10px;
}

.save-button {
    /*margin: 20px 0; !* Убираем боковые отступы *!*/
    text-align: center;
    color: #FFFFFF;
    background: #534686;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 4px;
    width: 292px; /* Устанавливаем фиксированную ширину */
    height: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.55px;
    /* Убираем top и left для абсолютного позиционирования */
}


.text_pass {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-align: left;
    margin: 40px 0; /* Убираем боковые отступы */
}

.frames-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.change-password-section {
    width: 352px;
    height: 352px;
    top: 127px;
    left: 300px;

    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px; /* Добавим отступы внутри */
    margin: 10px 0; /* Отступы между секциями */

}

.change-language-section {
    width: 352px;
    height: 222px;
    top: 127px;
    left: 672px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px; /* Добавим отступы внутри */
    margin: 10px 0; /* Отступы между секциями */
}

@media only screen and (max-width: 768px) {
    .change-password-section,
    .change-language-section {
        width: 90%; /* Ширина секций на мобильных */
        margin: 10px auto; /* Центрируем секции */
    }

    input[type="password"]{

    }
    input[type="password"]::placeholder,
    input[type='language']::placeholder {
        font-family: Nunito Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 20.46px;
        text-align: left;
    }

    .forms-container {
        width: 100%; /* Полная ширина для контейнера форм */
        flex-direction: column; /* Вертикальное направление для форм */
        align-items: center; /* Центрируем формы по горизонтали */
        gap: 15px; /* Отступ между формами */
    }
}


@media only screen and (max-width: 768px) {

    .header .logo {
        width: 32px;
        height: 32px;
    }

    .header {
        margin-top: 10px;
        position: absolute;
        display: flex;
        width: 100%; /* Устанавливаем полную ширину для шапки */
        top: 0;
        left: 0;
        justify-content: space-between; /* Распределяем элементы равномерно */
        align-items: center; /* Вертикальное выравнивание */
        padding: 10px; /* Отступы внутри */
        background: #1D1930; /* Цвет фона шапки */
    }

    .header .user-info {
        color: #A4A3BD; /* Цвет текста */
        font-family: 'Nunito Sans', sans-serif; /* Шрифт */
        font-size: 16px; /* Размер шрифта */
        font-weight: 400; /* Жирность */
        line-height: 21.82px; /* Высота строки */
    }

    .header .user-info {
        font-size: 14px; /* Уменьшаем размер шрифта для мобильных */
    }

    .header .logo {
        width: 24px; /* Уменьшаем ширину логотипа для мобильных */
        height: 24px; /* Уменьшаем высоту логотипа для мобильных */
    }

    .toggle-sidebar {
        opacity: 1;
    }
}
